<launch>
    <!-- Launch the bridge node -->
    <node pkg="ros_websocket_bridge" type="run_bridge_node.sh" args="--log-level=debug" name="bridge_node" cwd="node" output="screen" />

    <!-- Launch the fake robot node -->
    <node pkg="ros_websocket_bridge" type="fake_robot.py" args="--log-level=debug" name="fake_robot" cwd="node" output="screen" />
</launch>